::ng-deep app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host {
    flex: 1 1 auto;
}

.auth-container {
    .form-container {
        margin-bottom: 25px;
    }
    .description {
        color: #999;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
}