<div id="auth-view">
    <div class="content">
        <div class="auth-container">

            <h2>ng-instagram</h2>

            <div class="form-container">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input formControlName="username" type="text" class="form-control" placeholder="Username"
                            [attr.disabled]="isSubmitting ? '' : null">
                    </div>
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control" placeholder="Password"
                            [attr.disabled]="isSubmitting ? '' : null">
                    </div>

                    <button type="submit" class="btn btn-blue btn-block"
                        [disabled]="!loginForm.valid || isSubmitting">Log in</button>
                </form>
            </div>

            <app-list-errors [errors]="errors"></app-list-errors>

            <p class="divider"></p>
            <p class="text-center"><a class="link" routerLink="">Forgot passowrd?</a></p>

        </div>

        <div class="action-container">
            <div class="inner">
                <p>You don't have an account? <a class="link" routerLink="/register">Register</a></p>
            </div>
        </div>

    </div>
</div>